    <div class="col-sm">
    <div class="card" data-id="<%= message.id %>">
      <div class="card-body">
        <h4 class="card-title"><%= message.sender_id %></h4>
        <p class="card-text"><%= message.content %></p>
      </div>
    </div>
    </div>
