




<div class="container">
<h1>Listing users</h1>
<% @users.each do |user| %>
  <div class="col-sm">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title"><%= user.name %></h4>
      <p class="card-text"><%= user.email %></p>
      <a href="#" class="btn btn-primary">Add</a>
    </div>
  </div>
  </div>
  <% end %>
  
